/* Font and other stuff to get a similar look with the example. */
* {
    font-family: Arial, Helvetica, sans-serif;
    /*color: #323232;*/
    color: antiquewhite;
}
/* does not work on all browsers */
html {
    scroll-behavior: smooth;
}
body {
    border-top: 10px solid #1c3a85;
    border-bottom: 10px solid grey;
    border-style: solid none solid none;
    margin: 0;
    background-color: #500872;

    /* Attempt parallax scroll effect */
    background-image: linear-gradient(45deg, rgb(78, 15, 141), rgb(39, 3, 138), rgb(11, 9, 148), purple);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
hr {
    border: 1px solid gray;
}
p, h1, h3 {
    text-align: center;
}
footer {
    padding: 5%;
    font-size: small;
    background-color: rgb(39, 39, 39);
}
#skills-section{
    background-color: rgb(39,39,39);
    padding: 10px;
}
.list-container {
    margin: auto;
    width: 180px;
}
#skills_table-container {
    margin: auto;
    width: 400px;
}

/* flexbox container */
.flex_btns-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
/* Buttons inside flexbox */
.flex_btns-container>div {
    text-align: center;
}

/* Navigation buttons as links, styled as such */
.nav-btn:link, .nav-btn:visited {
    padding: 10px;
    /*color: #323232;*/
    background-color: #323232;
    border: 3px solid #323232;
    color: antiquewhite;
    text-decoration: none;
}
.nav-btn:hover {
    color: antiquewhite;
    background-color: rgba(32,32,32,0);
    transition: ease-in-out 200ms;
}
#front_page-btn {
    border-radius: 10px 0px 0px 10px;
}
#contacts_btn {
    border-radius: 0px 10px 10px 0px;
}
/* ------------------------- */

/* This makes the input fields blocks. otherwise they're all inline
   with the labels. */
.input_info {
    display: block;
    margin-top: 10px;
    background-color: darkgray;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 4px;
}

/* These have the label and the input field as children */
.form_input-container {
    display: block;
    margin: auto;
    width: 300px;
    margin-top: 2%;
    margin-bottom: 2%;
}

/* Picture */
#avatar {
    border: 6px solid gray;
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 50%;
}
#img-container {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    height: 300px;
    background-image: radial-gradient(circle, rgba(255,255,255,1), rgba(255,255,255,0), rgba(255,0,0,0));
}

#page-contact_info {
    margin-top: 10%;
}

/* Add selectors to see dotted border 
div {
    border: 2px dotted red;
}
h1, p, ul, ol, li, form {
    border: 2px dotted green;
}
section {
    border: 2px dotted blue;
}
*/