/* Font and other stuff to get a similar look with the example. */
* {
    font-family: Arial, Helvetica, sans-serif;
    
}
html {
    scroll-behavior: smooth;
}
body {
    border: none;
    margin: 0;
    background-color: #323232;
    color: #323232;
    background-image: linear-gradient(45deg, rgb(78, 15, 141), rgb(39, 3, 138), rgb(3, 100, 3)55%, rgb(11, 9, 148)60%, purple);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
#content {
    margin: auto;
    width: 1000px;
    padding: 20px 0px 10px 0px;
    background-color: #f5f5f5;
}
.page-line {
    color: rgba(32,32,32,0.3);
    margin: 20px auto;
    width: 80%;
}
p,
 h1,
  h2 {
    text-align: center;
}
footer {
    padding: 40px;
    font-size: small;
    background-color: rgb(39, 39, 39);
    color: antiquewhite;
}
/*
====================================================================

    These are for the nav buttons/links on the top side of the page

   flexbox container */
.flex_btns-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    filter: drop-shadow(16px 16px 10px gray);
}
/* Buttons inside flexbox */
.flex_btns-container>div {
    text-align: center;
}
/* Navigation buttons as links, styled as such */
.nav-btn:link, .nav-btn:visited {
    padding: 10px;
    /*color: #323232;*/
    background-color: #323232;
    border: 3px solid #323232;
    color: antiquewhite;
    text-decoration: none;
}
.nav-btn:hover {
    color: antiquewhite;
    background-color: rgba(32,32,32,0.5);
    transition: ease-in-out 200ms;
}
#front_page-btn {
    border-radius: 10px 0px 0px 10px;
}
#contacts_btn {
    border-radius: 0px 10px 10px 0px;
}
/*
=======================================================================
   Picture */
#avatar {
    border: 5px solid darkgray;
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 50%;
}

#img-container {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    height: 300px;
    filter: drop-shadow(16px 16px 10px gray);
}

/*
=====================================================================
    Skills section
*/
#page-skills{
    background-color: rgb(39,39,39);
    color: antiquewhite;
    margin: auto;
    width: 90%;
    padding: 10px;
    filter: drop-shadow(16px 16px 10px gray);
}
.page_skills-line {
    color: antiquewhite;
    width: 90%;
}
.skills_list-item {
    font-size: 14px;
    list-style: none;
    line-height: 25px;
}
.skills_list-item::first-letter {
    font-size: 22px;
    padding: 3px 8px;
    font-family: serif;
    border: 2px solid #323232;
    border-radius: 50%;
    background-color: rgb(233, 233, 0);
    color: #323232;
}
#skills_table-container {
    margin: auto;
    width: 400px;
}
/*===================================================================
   Projects list */
#projects_list-container {
    margin: auto;
    width: 400px;
}
#projects_list {
    list-style: none;
    counter-reset: item;
}
.projects_list-item {
    counter-increment: item;
}
.circled {
    font-size: 22px;
    padding: 3px 8px;
    font-family: serif;
    font-weight: bolder;
    border: 2px solid #323232;
    border-radius: 50%;
    background-color: rgb(233, 233, 0);
    color: #323232;
}
.counter::after {
    margin-left: 6px;
    margin-right: 10px;
    font-weight: bolder;
    content: "rojekti " counter(item) ": ";
}
/*
==================================================================
    CV & experience table styling
*/
#page-cv {
    width: 900px;
    margin: auto;
}
.cv-table {
    width: 100%;
    text-align: center;
    border: 1px solid #323232;
    border-collapse: collapse;
}
.header-row {
    border: 1px solid #323232;
    color: antiquewhite;
    background-color: cornflowerblue;
    height: 50px;
}
/**/
.cv-row:nth-child(2n-1) {
    background-color: #f5f5f5;
}
.cv-row:nth-child(1) {
    background-color: #f5f5f5;
}
.cv-row:nth-child(2) {
    background-color: rgb(176, 223, 252);
}
#special-cell {
    background-color: deepskyblue;
}
/**/
.cv-row td {
    border: 1px solid #32323260;
    font-size: 14px;
    height: 50px;
    padding: 0px 4px;
}
#footer-cell {
    background-color: deepskyblue;
    color: #f5f5f5;
}

/*
==================================================================
    Multimedia styling
*/
.multimedia-container {
    width: fit-content;
    margin: auto;
    text-align: center;
}
.multimedia {
    border: 1px solid #323232;
    border-radius: 8px;
    filter: drop-shadow(16px 16px 10px gray);
    background-color: #f1f3f4;
}
/* 
==================================================================

    Form styling
*/
#page-contact_info {
    margin: /*25px 120px*/25px auto;
    width: 650px;
    padding: 25px 0px 35px 20px;
    border-radius: 10px;
    background-color: white;
    filter: drop-shadow(16px 16px 10px gray);
}
/*
   These containers inside the form have the label
   and the input field as children */
.form_input-container {
    display: block;
    margin: 20px 10px;
    width: 90%;
    max-width: 700px;
}
/*
   This makes the input fields blocks. otherwise they're all inline
   with the labels. */
.input_info {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(171, 171, 171, 0.501);
    border-radius: 3px;
    padding: 8px;
}
label {
    font-size: 14px;
    font-weight: bold;
}
#submit {
    background-color: #323232;
    color: antiquewhite;
    margin-top: 10px;
}
/* 
===================================================================

   Firefox specific styling of the html skill slider (because i didn't like
   how the slider looks in my browser), so every other browser should have no
   changes below this. */
#html_skill {
    background: none;
    border: none;
}
#html_skill::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
    background: royalblue;
    cursor: pointer;
}
#html_skill::-moz-range-thumb:hover {
    background-color: #1c3a85;
}  
#html_skill::-moz-range-track{
    height: 8px;
    border-radius: 15px;
    background: darkgrey;
}
#html_skill::-moz-range-progress{
    height: 8px;
    border-radius: 15px;
    background-color: royalblue;
}
@media only screen and (max-width: 1000px) {
    #content {
        min-width: 100%;
        width: 100%;
    }
    #page-cv {
        width: 90vw;
    }
}
@media only screen and (max-width: 700px) {
    #content {
        min-width: 100%;
        width: 100%;
/*
        margin: auto;
        min-width: 700px;
        width: fit-content;
        max-width: 70vw;
        padding: 20px 0px 10px 0px;
        background-color: #f5f5f5;
*/
    }
    #page-cv {
        width: 95vw;
        margin: auto;
    }
    .cv-table {
        font-size: 12px;
    }
    .cv-row td {
        font-size: 12px;
    }
    #page-contact_info {
        margin: auto;
        width: 90vw;
        padding: 3vh 2vw 3vh 2vw;
        background-color: #f5f5f5;
        filter: none;
    }



    .form_input-container {
        margin: auto;
        width: 80%;
        max-width: 400px;
    }

}