/* Font and other stuff to get a similar look with the example. */
* {
    font-family: Arial, Helvetica, sans-serif;
    
}
html {
    scroll-behavior: smooth;
}
body {
    border: none;
    margin: 0;
    background-color: #323232;
    color: #323232;
    background-image: linear-gradient(45deg, rgb(78, 15, 141), rgb(39, 3, 138), rgb(3, 100, 3)55%, rgb(11, 9, 148)60%, purple);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
#content {
    margin: auto;
    min-width: fit-content;
    max-width: 70vw;
    padding: 20px 0px 10px 0px;
    background-color: #f5f5f5;
}
li {
    list-style: none;
}
hr {
    color: rgba(32,32,32,0.3);
    width: 80%;
}
table, th, td {
    border: 1px solid black;
}
td {
    font-size: 14px;
    text-align: center;
}
p,
 h1,
  h2 {
    text-align: center;
}
footer {
    padding: 5%;
    font-size: small;
    background-color: rgb(39, 39, 39);
    color: antiquewhite;
}
/*
====================================================================

    These are for the nav buttons/links on the top side of the page

   flexbox container */
.flex_btns-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
/* Buttons inside flexbox */
.flex_btns-container>div {
    text-align: center;
}
/* Navigation buttons as links, styled as such */
.nav-btn:link, .nav-btn:visited {
    padding: 10px;
    /*color: #323232;*/
    background-color: #323232;
    border: 3px solid #323232;
    color: antiquewhite;
    text-decoration: none;
}
.nav-btn:hover {
    color: antiquewhite;
    background-color: rgba(32,32,32,0.5);
    transition: ease-in-out 200ms;
}
#front_page-btn {
    border-radius: 10px 0px 0px 10px;
}
#contacts_btn {
    border-radius: 0px 10px 10px 0px;
}
/*
=======================================================================
   Picture */
#avatar {
    border: 6px solid gray;
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 50%;
}
#img-container {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    height: 300px;
    background-image: radial-gradient(circle, rgba(32,32,32,1), rgba(255,255,255,0), rgba(255,0,0,0));
}
/*
=====================================================================
    Skills section
*/
#page-skills{
    background-color: rgb(39,39,39);
    color: antiquewhite;
    margin: auto;
    width: 90%;
    padding: 10px;
}
#page-skills hr {
    color: antiquewhite;
    width: 90%;
}
.skills_list-item {
    line-height: 25px;
}
.skills_list-item::first-letter {
    font-size: 22px;
    padding: 3px 8px;
    font-family: serif;
    border: 2px solid #323232;
    border-radius: 50%;
    background-color: rgb(233, 233, 0);
    color: #323232;
}
#skills_table-container {
    margin: auto;
    width: 400px;
}
#skills_table-container table {
    border: none;
}
#skills_table-container td {
    border: none;
    text-align: left;
    font-size: 12px;
}
/*===================================================================
   Projects list */
#projects_list-container {
    margin: auto;
    width: 400px;
}
#projects_list {
    list-style: none;
    counter-reset: item;
}
.projects_list-item {
    counter-increment: item;
}
.circled {
    font-size: 22px;
    padding: 3px 8px;
    font-family: serif;
    font-weight: bolder;
    border: 2px solid #323232;
    border-radius: 50%;
    background-color: rgb(233, 233, 0);
    color: #323232;
}
.counter::after {
    margin-left: 6px;
    margin-right: 10px;
    font-weight: bolder;
    content: "rojekti " counter(item) ": ";
}
/* 
==================================================================
 
   This makes the input fields blocks. otherwise they're all inline
   with the labels. */
.input_info {
    display: block;
    margin-top: 10px;
    border: 1px solid grey;
    border-radius: 3px;
    margin-top: 20px;
    padding: 4px;
}
label {
    font-size: large;
}
/* After the general input field styling, style some
   invidual elements in the same class with their own id.
===================================================================
   Every other input field will use a custom border except this. */
#add_file_cv {
    border: none;
}
#comment {
    width: 100%;
}
/* Firefox specific styling of the html skill slider (because i didn't like
   how the slider looks in my browser), so every other browser should have no
   changes below this. */
#html_skill {
    background: none;
    border: none;
}
#html_skill::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
    background: royalblue;
    cursor: pointer;
}
#html_skill::-moz-range-thumb:hover {
    background-color: #1c3a85;
}  
#html_skill::-moz-range-track{
    height: 8px;
    border-radius: 15px;
    background: darkgrey;
}
#html_skill::-moz-range-progress{
    height: 8px;
    border-radius: 15px;
    background-color: royalblue;
}
/*
    --( Firefox specific styling ends here. )--

=====================================================================
   These containers inside the form have the label
   and the input field as children */
.form_input-container {
    display: block;
    margin: auto;
    width: 400px;
    margin-top: 2%;
    margin-bottom: 2%;
}

#page-contact_info {
    margin-top: 10%;
}
/*
========================================================================
   see dotted border of every important area
    by removing comment end from below and place it here => 
div {
    border: 2px dotted red;
}
h1, p, ul, ol, li, form {
    border: 2px dotted green;
}
th, td {
    border: 2px dotted orange;
}
section {
    border: 2px dotted yellow;
}
*/