* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    padding: 0;
    margin: 0;
}
header {
    padding: 0;
    margin: 0;
    border: none;
}
h1 {
    color: white;
    background-color: rgb(50, 50, 50);
    padding: 10px;
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: rgb(50, 50, 50);
}
li:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 300ms;
}
a {
    display: block;
    padding: 14px 16px;
}
a:any-link {
    color: white;
    text-decoration: none;
}
.hero-section {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}
.hero-section img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 58%;
}
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    border: none;
}
main {
    display: flex;
    height: 400vh;

}
article {
    display: block;
    width: 70%;
    height: 60vh;
    margin: 30px 10px 30px 30px;
    padding: 20px 10px;
    border: 1px solid darkgray;
}
.article-img-container {
    display: flex;
}
.article-img-container img {
    width: 150px;
    height: 150px;
    border: 2px solid grey;
}
.article-img-container p {
    margin: 0px 20px;
}
.clear {
    clear: left;
}
aside {
    display: block;
    position: sticky;
    top: 30px;
    width: 30%;
    height: 60vh;
    margin: 30px 30px 30px 10px;
    padding: 20px 10px;
    background-color: rgb(240, 240, 240);
    border: 1px solid darkgray;
}
footer {
    color: white;
    background-color: rgb(50, 50, 50);
    padding: 50px;
    text-align: center;
}