* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    padding: 0;
    margin: 0;
}
header {
    padding: 0;
    margin: 0;
    border: none;
}
h1 {
    color: white;
    background-color: rgb(50, 50, 50);
    padding: 10px;
    margin: 0;
}
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(50, 50, 50);
}
.tooltiptext {
  visibility: hidden;
  width: 130px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  top: 0px;
  left: 105%;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}
li {
    position: relative;
    width: fit-content;
}
li:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 300ms;
}
li:hover .tooltiptext {
    visibility: visible;
}
a {
    display: block;
    padding: 14px 16px;
}
a:any-link {
    color: white;
    text-decoration: none;
}
.hero-section {
    display: block;
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}
.hero-section img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 58%;
}
.hero-text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    border: none;
}
main {
    display: flex;
    height: 150vh;

}
article {
    display: block;
    width: 65%;
    height: fit-content;
    margin: 30px 10px 30px 30px;
    padding: 20px 10px;
    border: 1px solid darkgray;
}
.article-img-container {
    display: flex;
}
.article-img-container img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border: 2px solid grey;
}
.article-img-container p {
    margin: 0px 20px;
}
.clear {
    clear: left;
}

#parent_div {
    display: block;
    margin:5%;
    padding: 2%;
    width: 90%;
    border: 2px dashed gray;
    position: relative;
}
#absolute_child {
    display: block;
    padding: 1%;
    background-color: yellow;
    border: 1px solid grey;
    right: 0;
    top: 0;
    position: absolute;
}

aside {
    display: block;
    position: sticky;
    top: 30px;
    width: 35%;
    height: 40vh;
    min-height: 300px;
    margin: 30px 30px 30px 10px;
    padding: 20px 10px;
    background-color: rgb(240, 240, 240);
    border: 1px solid darkgray;
}
footer {
    display: block;
    position: relative;
    color: white;
    background-color: rgb(50, 50, 50);
    height: 30vh;
    padding: 50px;

}
.footer-text {
    display: block;
    position: absolute;
    text-align: center;
    margin: auto;
    padding: 2%;
    width: fit-content;
    height: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container-query-section {
    display: block;
    container: query / inline-size;
    width: auto;
    height: auto;
    min-height: 200px;
    margin: 30px;
    padding: 20px 10px;
    border: 1px solid darkgray;
}
.card {
    padding: 50px;
}
@media screen and (max-width: 768px) {
    * {
        box-sizing: border-box;
        font-family: sans-serif;
    }
    ul {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: rgb(50, 50, 50);
    }
    .hero-section {
        display: block;
        position: relative;
        width: 100%;
        height: 30vh;
        overflow: hidden;
    }
    main {
        display: block;
        height: 150vh;

    }
    article {
        display: block;
        width: auto;
        height: fit-content;
        margin: 10px;
        padding: 20px 10px;
        border: 1px solid darkgray;
    }
    aside {
        display: block;
        position: sticky;
        top: 10px;
        width: auto;
        height: 140px;
        min-height: 0px;
        margin: 10px;
        padding: 20px 10px;
        background-color: rgb(240, 240, 240);
        border: 1px solid darkgray;
    }
}
@container query (min-width: 300px) {
    .card {
        background-color: brown;
    }
}
@container query (min-width: 768px) {
    .card {
        background-color: red;
    }
}
@container query (min-width: 1200px) {
    .card {
        background-color: purple;
    }
}