* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: rgb(199, 199, 199);
}
form {
    display: block;
    border-radius: 10px;
    width: 50vw;
    margin: 20px auto;
    
}

form {
    background-color: white;
}
form > * {
    display: block;
}
