* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

h1 {
    margin-top: 30px;
    text-align: center;
    color: #ffffff;
}

.filter-selector-div {
    display: flex;
    position: sticky;
    top: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: #1e1e1e;
    border: #2a2a2a 1px solid;
    width: 90%;
    max-width: 700px;
    padding: 15px;
    margin: 15px 0;
    border-radius: 6px;
    z-index: 100;
}
.table-toggle {
    display: flex;
    padding: 5px;
}

.required-hint {
    padding-left: 30px;
    text-align: center;
    font-size: smaller;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #1e1e1e;
    width: 90%;
    max-width: 700px;
    padding: 20px;
    margin: 15px 0;
    border-radius: 6px;
}
.formbottom-div {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

label {
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #3a3a3a;
    border-radius: 4px;
    font-size: 14px;
    background-color: #2a2a2a;
    color: #f0f0f0;
}

textarea {
    resize: vertical;
    min-height: 80px;
    width: 100%;
    padding: 8px;
    border: 1px solid #3a3a3a;
    border-radius: 4px;
    font-size: 14px;
    background-color: #2a2a2a;
    color: #f0f0f0;
}
.table-blog-image-container {
    width: 100px;
    height: fit-content;
    margin: 1em 0; 
}

.table-blog-image-container {
    width: 100px;
}

.blog-image {
    width: 100%;
    object-fit: contain;
}

input[type=checkbox] {
    width: 20px;
}

#lisaaBtn {
    display: block;
    background-color: #333;
    color: #f0f0f0;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
}

.delete-btn {
    background-color: rgb(255, 47, 47);
    padding: 10px 18px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
}

#lisaaBtn:hover {
    background-color: #444;
}

#blogiLista {
    width: 90%;
    max-width: 700px;
}

#blogTableContainer {
    width: 90%;
    max-width: 900px;
}

#blogiLista > article {
    background-color: #1e1e1e;
    border-radius: 6px;
    padding: 15px;
    margin-top: 10px;
}

.blog-table {
    width: 100%;
    border: 1px solid #3a3a3a;
    border-radius: 10px;
    font-size: smaller;
}

.blog-table th {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #3a3a3a;
}

.blog-table td {
    text-align: center;
    overflow: hidden;
    border-right: 1px solid #3a3a3a;
    border-left: 1px solid #3a3a3a;
    border-bottom: 1px solid #3a3a3a;
}

.public-post {
    border-left: 5px solid darkblue;
    color: #f0f0f0;
}

.private-post {
    filter: grayscale(50%);
    border-left: 5px solid #4f4f4f;
    color: #4f4f4f;
}

.hidden-by-filter {
    display: none;
}

.hidden-by-toggle {
    display: none;
}

.error {
    border: 1px solid red;
}

#blogiLista h2 {
    margin-top: 0;
}

#ohje {
    color: #f0f0f0;
    font-size: 13px;
    margin-top: 5px;
}
