* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    margin: 0;
}
.grid-container {
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
        "header header"
        "menu content"
        "info content"
        "footer footer";
    grid-template-columns: 200px auto;
    grid-template-rows: auto 1fr auto auto;
}
header {
    grid-area: header;
    background-color: #323232;
    color: white;
    padding: 7px 5px;
}

/*
Navigation links
*/
nav {
    grid-area: menu;
    background-color: darkgray;
}
nav > ul {
    list-style: none;
    margin-top: 10px;
    padding: 10px;
}
nav > ul > li {
    display: flex;
    align-items: center;
    padding: 5px 2px;
}
li > a {
    color: black;
}
li > a:link {
    text-decoration: none;
}
.active {
    color: brown;
    font-weight: 800;
}
/*--------*/
aside {
    grid-area: info;
    background-color: lightgray;
    padding: 10px;
}
main {
    grid-area: content;
    padding: 10px;
}
footer {
    grid-area: footer;
    background-color: #323232;
    color: white;
    text-align: center;
}

/*
Main page content-grid
*/
.multi-grid {
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    gap: 10px;

}
.grid-item {
    border-radius: 10px;
    background-color: rgb(191, 211, 248);
    text-align: center;
    padding: 10px;
}
.item1, .item2, .item3, .item10, .item11, .item12 {
    grid-column: span 2;
}
.item4, .item5, .item13, .item14, .item15 {
    grid-column: span 3;
}

/*
Projects page
*/
.projects {
    display: flex;
    flex-wrap: wrap;
}
.project-card {
    flex: 1;
    border: 1px solid #696969;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}
.project-content > p {
    height: 2em;
}
.tags > span {
    background-color: rgb(232, 232, 232);
    border-radius: 4px;
    padding: 4px;
    margin: 3px;
}
.buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}
.buttons > a:link, .buttons > a:visited {
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 10px 0px;
    margin: 4px;
    border-radius: 5px;
    background-color: #323232;
    color: white;
}

/*
Contacts page
*/
.contact-form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px 20px;
    max-width: 700px;
    margin: auto;
}
.form-row > button, input, textarea {
    display: block;
    width: 100%;
    border: 1px solid rgba(171, 171, 171, 0.501);
    border-radius: 3px;
    padding: 8px;
}
.form-row-double {
    display: grid;
    row-gap: 5px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.form-row > button {
    background-color: #323232;
    color: white;
}
label {
    font-size: 14px;
    font-weight: bold;
}

@media only screen and (max-width: 1200px) {
    .grid-container {
        display: grid;
        grid-template-areas: 
            "header header"
            "menu content"
            "info content"
            "footer footer";
        grid-template-columns: 200px auto;
        grid-template-rows: auto 1fr auto auto;
    }
    .multi-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;

    }
    .item1, .item2, .item3, .item10, .item11, .item12 {
        grid-column: span 1;
    }
    .item4, .item5, .item13, .item14, .item15 {
        grid-column: span 1;
    }
    footer {
        background-color: #323232;
        color: white;
        text-align: center;
    }
}
@media only screen and (max-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-areas: 
            "header"
            "menu"
            "content"
            "info"
            "footer";
        grid-template-columns: auto;
        grid-template-rows: auto auto 1fr auto auto;
    }
    nav {
        width: 100%;
    }
    nav > ul {
        display: flex;
        justify-content: space-evenly;
    }
    aside {
        width: 100%;
    }
    footer {
        visibility: visible;
        background-color: #323232;
        color: white;
        text-align: center;
    }
    .multi-grid {
        display: grid;
        grid-template-columns: 100%;
        gap: 10px;
    }
    .projects {
        font-size: smaller;
    }
    .project-card > img {
        min-width: 170px;
        width: 100%;
        height: auto;
    }
    .project-content > p {
        height: 4em;
    }
    .contact-form {
        display: block;
        margin: auto 20px;
    }
    .form-row {
        margin: 10px 0px;
    }
    .form-row-double {
        display: block;
        align-items: center;
    }
}